.App {
  text-align: center;
  background-color: rgba(245, 245, 220, 0.2);
}

h2 {
  color: #464646;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

input:focus {
  outline-style: none;
}

header {
  height: 120px;
  width: 100%;
  color: #464646;
}
.App-header {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  max-width: 100%;
  font-weight: bold;
  background-color: beige;
  color:#464646;
}

.Header-Title {
  font-size: 66px;
  font-family: Verdana;
  color: #464646;
  width: 500px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-left: 350px;
}

.Header-Buttons {
  padding-right: 8%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
}

.Header-home, .Header-favorites, .Header-account, .Header-login {
  background: none;
  border: none;
  padding: 30px; 
}

.Header-home, .Header-favorites, .Header-account, .Header-login:hover {
  border: none;
  padding: none; 
  cursor: pointer;
}

.Header-account {
  width: 100px;
  padding-right: 0px;
  padding-left: 10px;
}

.App-footer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  min-height: 50px;
  background-color: beige;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #464646;
}

.Footer-about, .Footer-contact {
  background: none;
  border: none;
  padding: none;
  color: #464646;
}

.Search-Page {
  min-height: 570px;
  margin-left: 250px;
  margin-right: 250px;
  align-items: center;
}

.Search-Title {
  margin-bottom: 20px;
  font-size: 22px;
  margin-top: 100px;
  color: rgb(95, 80, 62);
  font-style:italic;
  font-weight:600;
}

.Search-Container {
  margin-top: 60px;
  object-position: center;
  border-radius: 150px;
  border-style: solid;
  display: inline-block;
  text-align: center;
  width:max-content;
  padding: 10px;
  border: 0;
  background-color: beige;
}

.Search-Zipcode {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  border: 0;
  background-color: beige;
  color: #464646;
}

.Search-Radius {
  width: 93px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  border: 0;
  margin-right: 10px;
  background-color: beige;
  color: #464646;
}

.Search-Radius:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Search-Zipcode:focus, .Search-Radius:focus {
  outline: none;
}

.Search-Submit {
  width: 80px;
  height: 46px;
  border-radius: 150px;
  background:#464646;
  border: 0;
  color: beige;
  font-size: 17px;
}

.Search-Error {
  font-size: 15px;
  color: red;
}

.Search-Result-Page {
  min-height: 660px;
  margin-left: 20px;
  margin-right: 20px;
}

.Search-Result-Title {
  padding: 10px;

}

.Search-Result-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding-left: 50px;
  padding-right: 100px;
}


.Search-Result-Filters {
  align-items: left;
  padding-top: 100px;
}

.Search-Result-Zipcode-Container {
  display: flex;
  flex-direction: row;
  border-radius: 150px;
  text-align: center;
  border: 0;
  background-color: beige;
  margin: 15px;
  width: 230px;
  height: min-content;
}

.Search-Result-Zipcode-Text{
  text-align: center;
  color: #464646;
  padding-left: 20px;
  font-size: 15px;
  font-weight: bold;
}

.Search-Result-Zipcode {
  border-radius: 150px;
  text-align: center;
  align-items: center;
  border: 0;
  background-color: white;
  color: #464646;
  height: 20px;
  width: 110px;
  font-size: 15px;
  margin-top: 6.5%;
  margin-left: 3%;
}

.Search-Result-Zipcode:focus {
  outline:none;
}

.Search-Result-Radius-Container {
  display: flex;
  flex-direction: row;
  border-radius: 150px;
  text-align: center;
  border: 0;
  background-color: beige;
  margin: 15px;
  width: 230px;
  height: min-content;
}

.Search-Result-Radius-Text{
  text-align: center;
  color: #464646;
  padding-left: 20px;
  font-size: 15px;
  font-weight: bold;
}

.Search-Result-Radius {
  border-radius: 150px;
  text-align: center;
  border: 0;
  background-color: white;
  color: #464646;
  font-size: 17px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 9%;
  width: 110px;
  outline: none;
}

.Search-Result-Radius:hover, .Search-Result-Filter {
  cursor: pointer;
}

.Search-Result-Radius:focus {
  outline:none;
}

.Search-Result-Button {
  border-radius: 150px;
  background:#464646;
  border: 0;
  color: beige;
  font-size: 15px;
  padding: 5px;
}

.Search-Result-Filter {
  border-radius: 150px;
  text-align: center;
  border: 0;
  background-color: beige;
  color: #464646;
  margin-bottom: 20px;
  width: 230px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}

.Seatch-Result-Filter:focus {
  outline: none;
}

.Search-Result-Pagination {
  color:  #464646;
  padding-bottom: 20px;
}

.Search-Result-Pagination button {
  border-radius: 10px;
}

.PetList {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr; 
  grid-auto-flow: dense; 
}

.pet-card {
  width: 180px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 30px;
  align-items: center;
  border-width: 2px;
  border-radius: 10px;
  background-color: beige;
  color: #464646; 
}

.pet-card-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.PetList a {
    text-decoration: none;
    color: #464646;
}

.PetList a:hover {
  text-decoration: underline;
  cursor: pointer;
}


.pet-card-age:visited {
  padding-bottom: 0px;
  color: #464646;
  text-decoration: none;
  text-decoration-thickness: 0px;
  text-decoration-style: none;
}

.Search-Result-Loading {
  margin: 200px;
  margin-bottom: 400px;
  font-size: 25px;
  text-align: center;
  color: #464646;

}

.Search-Result-None {
  width: 1000px;
  margin-left: -7%;
}


.ViewAccount-Page {
  min-height: 648px;
  margin-left: 20px;
  margin-right: 20px;
  color: #464646;
}

.ViewAccount-Content {
  border-radius: 10px;
  background-color: beige;
  width: max-content;
  display: inline-block;
  text-align: center;
  vertical-align: auto;
  padding: 25px;
  margin-top: 30px;
}

.ViewAccount-Login {
  margin: 180px;
  margin-bottom: 410px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 12px;
}

.ViewAccount-Login a {
  border-radius: 150px;
  font-size: 20px;
  border-width: 2px;
  background-color: beige;
  border-style:ridge;
  text-decoration: none;
  border-color: #464646;
  color: #464646;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}


.ViewAccount-Greeting {
  font-size: larger;
  font-weight: bold;
}

.ViewAccount-Username {
  font-size: large;
  padding: 10px;
}

.ViewAccount-Logout {
  background-color: beige;
  border-radius: 10px;
  font-size: 16px;
  color: #464646;
}

.ViewAccount-Delete {
  background-color: rgba(255, 0, 0, 0.494);
  border-radius: 10px;
  font-size: 16px;
  color: #464646;
}

.ViewAccount-Password {
  background-color: beige;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right:30px;
  font-size: 16px;
  color: #464646;
}

.ViewAccount-Error {
  margin: 150px;
  margin-bottom: 450px;
  font-size: 25px;
  text-align: center;
  color: #464646;
}

.ViewAccount-Loading {
  margin: 150px;
  margin-bottom: 450px;
  font-size: 25px;
  text-align: center;
  color: #464646;
}

.Favorite-Page {
  min-height: 650px;
  margin-left: 200px;
  margin-right: 200px;
  color: #464646;
}

.Favorite-Loading {
  margin: 150px;
  margin-bottom: 450px;
  font-size: 25px;
  text-align: center;
  color: #464646;
}

.Favorite-Login {
  margin-top: 160px;
  font-size: 20px;
  text-align: center;
  color: #464646;

}

.Favorite-Login button {
  border-radius: 150px;
  font-size: 20px;
  border-width: 2px;
  background-color: beige;
  border-style:ridge;
}

.Favorite-Pagination {
  color:  #464646;
  padding-bottom: 20px;
}

.Favorite-Pagination button {
  border-radius: 10px;
}

.Favorite-NoneSaved {
  margin: 150px;
  margin-bottom: 450px;
  font-size: 25px;
  text-align: center;
  color: #464646;
}

.About-Page {
  min-height: 650px;
  margin-left: 20px;
  margin-right: 20px;
  color: #464646;
}

.About-Container {
text-align: center;
padding-right: 100px;
padding-left: 100px;
}

.About-Content {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: beige ;
  border-radius: 20px;
  margin: 40px;
  text-align:left;
  padding: 5px;
}

.About-Content p {
  padding: 10px;
  text-align: center;
  line-height: 25px;
}

.About-Links {
  font-size: 20px;
  text-align: center;
}

.About-Links a {
  text-decoration: none;
  color: rgb(173, 116, 66);
  font-size: 19px;
}

.About-Links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Signup-Page {
  min-height: 620px;
  margin-left: 20px;
  margin-right: 20px;
  color: #464646;
}

.Signup-Page h2 {
  margin-top: 50px;
  margin-bottom: 90px;
}

.Signup-Page button, .Signup-Page input {
  border-radius: 150px;
  border-width: 1px;
  height: 25px;
  padding-left: 10px;
  margin: 5px;
  border-style: solid;
  font-size: 15px;
  color: #464646;
}

.Signup-Page button {
  background-color: beige;
  border-width: 2px;

}

.Login-Page {
  min-height: 620px;
  margin-left: 20px;
  margin-right: 20px;
  color: #464646;
}

.Login-Page h2 {
  margin-top: 50px;
  margin-bottom: 90px;
}

.Login-Page button, .Login-Page input {
  border-radius: 150px;
  border-width: 1px;
  height: 25px;
  padding-left: 10px;
  margin: 5px;
  border-style: solid;
  font-size: 15px;
  color: #464646;
}

.Login-Page button {
  background-color: beige;
  border-width: 2px;
}

.Contact-Page {
  min-height: 660px;
  margin-left: 20px;
  margin-right: 20px;
}

.Contact-Submit {
  min-height: 580px;
  margin-left: 20px;
  margin-right: 20px;
}

.Contact-Form {
  border-width: 2px;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 20px;
  background-color: beige;
  border: 0;
  color: #464646;
}

.Contact-Button {
  border-radius: 10px;
  margin-left: 25%;
  border-width: 2px;
  color: #464646;
}

.Contact-Form div {
  text-align:justify;
  padding: 15px;
}

.Contact-Form input, .Contact-Form textarea {
  border-radius: 10px;
  border-width: 1px;
  width: 90%;
  height: 20px;
  padding-left: 10px;
}

.Contact-Form textarea {
  height: 60px ;
}

.PetDetails-Page {
  min-height: 660px;
  margin-left: 150px;
  margin-right: 150px;
}

.PetDetails-Title {
  padding: 5px;
}

.PetDetails-Content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items:center;
  border-radius: 10px;
  background-color: beige;
  padding: 20px;
  color: #464646;
}

.PetDetails-Img {
  width: 300px;
  align-self: start;
  border-style:double;
  margin-top: 10px;
}

.PetDetails-Info {
text-align: left;
align-self: start;
margin-top: 10px;
line-height: 150%;
}

.PetDetails-Info a {
color: brown;
font-weight:bolder;
text-decoration: none;
}

.PetDetails-Info a:hover {
  text-decoration:underline;
  cursor: pointer;
}

.PetDetails-Name {
  margin-top: 0px;
  color:#464646;
}

.PetDetails-Name::before {
  content: "Name: ";
  font-weight: bold;
  color:#464646;
}

.PetDetails-Age::before {
  content: "Age: ";
  font-weight: bold;
  color:#464646;
}

.PetDetails-Sex::before {
  content: "Sex: ";
  font-weight: bold;
  color:#464646;
}

.PetDetails-Page button {
  margin-top: 3%;
  margin-bottom: 1%;
  border-radius: 150px;
  border-width: 1px;
  font-size: 15px;
  padding: 5px;
}

.favorite-button {
  background-color: white;
  color:#464646;
  width: 100px;
}

.unfavorite-button {
  background-color: pink;
  color:#464646;
  width: 100px;
}


.PetDetails-Loading {
  margin-top: 150px;
  font-size: 25px;
  text-align: center;
  min-height: 520px;
  color: #464646;
}

.PetDetails-Limit {
  color: red;
  margin-bottom: 2%;
}